.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 64px;
  -webkit-font-smoothing: antialiased;
}
  
@media screen and (min-width: 768px) {
  .lead {
    padding-bottom: 88px;
    max-width: 768px;
  }
}
  
@media screen and (min-width: 1024px) {
  .lead {
    padding-bottom: 92px;
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    padding-bottom: 92px;
    max-width: 984px;
  }
}