.cover__subtitle {
  max-width: 288px;
  margin: 16px auto 33px auto;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    margin: 32px auto 115px auto;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__subtitle {
    margin: 32px auto 245px auto;
  }
}