.footer {
  margin: 64px auto 24px 16px;
  padding: 0;
  background-color: #2A2C2F;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 88px 24px 24px 24px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin: 92px 48px 24px 48px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    margin: 92px 48px 24px 48px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}