.places__grid {
    margin: 0;
    padding: 64px 0 0 0;
    display: grid;
    grid-template-rows: repeat(minmax(min-content, max-content));
  }
    
  @media screen and (min-width: 768px) {
    .places__grid {
      padding: 88px 24px 0 24px;
    }
  }
    
  @media screen and (min-width: 1024px) {
    .places__grid {
      padding: 92px 48px 0 48px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .places__grid {
      padding: 92px 148px 0 148px;
      max-width: 984px;
    }
  }
